/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(#7FDBFF, #39CCCC);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper, .info-wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 2;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #FF4136;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 700; }



.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #FF4136;
    top: -7px;
    right: -25px;
    
}

.player-current-box {
    background-color: #FF4136;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #FF4136;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice-0 {
    position: absolute;
    left: 50%;
    top: 128px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.dice-1 {
    position: absolute;
    left: 50%;
    top: 253px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #FF4136; }
.winner .player-score { margin-bottom: 82px; }

.input-form {
    display: flex;
    align-items: center;
    height: 48px;
}

.input-name {
    width: 185px;
    font-family: inherit !important;
    /* font-size: .4em; */
    font-weight: 700;
    border: none;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    background-color: inherit !important;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    margin-left: 65px;
    position: relative;
}

.input-button {
    position: absolute;
    top: 10px;
    left: 155px;
    margin: 0 0 0 20px;
    padding: 5px 10px;
    background-color: #39CCCC;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: inherit !important;
    font-size: .4em;
    font-weight: 600;
    outline: none;
}

.input-button:hover {
    cursor: pointer;
}

.winning-score {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}


.winning-score-input {
    width: 200px;
    font-family: inherit !important;
    font-weight: 700;
    border:none;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    outline: none;
    padding: 10px;
    position: relative;
}


.winning-score-button {
    position: absolute;
    top: 5px;
    left: 113px;
    margin: 0 0 0 20px;
    padding: 5px 10px;
    background-color: #FF4136;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: inherit !important;
    font-weight: 600;
    outline: none;
}

.winning-score-button:hover {
    cursor: pointer;
}

.winning-score-display {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 550;
}

#winning-score-display-id {
    color: #FF4136;
}


.info-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    z-index: 2;
}

.info-text {
    position: absolute;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    top: 20px;
    left: 35px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: -1;
}

.info-icon:hover {
    cursor: pointer;
}

.help:hover .info-text {
    visibility: visible;
    
    transition: 0.3s ease;
    z-index: 1;
    transform: translate3d(20px, 0px, 20px)
}

.info-wrapper {
    height: 600px;
    padding: 50px;
    line-height: 2rem;
    z-index: 1;
}

.info-wrapper-title {
    margin: 10px;
    font-weight: bold;
    color: #FF4136;
    text-align: center;
    text-transform: uppercase;
}

.info-wrapper-text {
    margin-left: 10px; 
}

.btn-play {
    position: absolute;
    left: 50%;
    bottom: 50px;
    background-color: #FF4136;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 10px;
    width: 140px;
}

.indicator {
    font-size: 16px;
    font-weight: bold;
    background-color: #FF4136;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px 10px;
    display: none;
}

.one-0 {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.one-1 {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

